In [44]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt
import seaborn as sns
import joblib
from sklearn import preprocessing, svm
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
df = pd.read_csv('final.csv')
df
df['Voltage'] = pd.to_numeric(df['Voltage'], downcast ='float',errors ='coerce')
df

          irms     Voltage       watt  year  month  day  hour  minute
0        0.418  234.839996   98.16312  2006     12   16    17      24
1        0.436  233.630005  101.86268  2006     12   16    17      25
2        0.498  233.289993  116.17842  2006     12   16    17      26
3        0.502  233.740005  117.33748  2006     12   16    17      27
4        0.528  235.679993  124.43904  2006     12   16    17      28
...        ...         ...        ...   ...    ...  ...   ...     ...
1048570  0.076  242.270004   18.41252  2008     12   13    21      34
1048571  0.076  242.100006    18.3996  2008     12   13    21      35
1048572  0.076  241.729996   18.37148  2008     12   13    21      36
1048573  0.078  242.559998   18.91968  2008     12   13    21      37
1048574  0.078  242.610001   18.92358  2008     12   13    21      38

[1048575 rows x 8 columns]

In [47]:
X = np.array(df['year']).reshape(-1, 1)
y = np.array(df['Voltage']).reshape(-1, 1)
df.dropna(inplace = True)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25)
regr = LinearRegression()
model=regr.fit(X_train, y_train)

In [45]:
model.coef_
model.predict([[2022]])
joblib.dump(model,'model.joblib')

['model.joblib']